$alto-color: #D3D3D3;
$boulder-color: #777;
$emperor-color: #555;
$mercury-color: #EAEAEA;
$mine-shaft-color: #222;
$roman-color: #D9534F; 
$silver-color: #BBB;
$silver-color: #BBB;
$white-color: #FFF;
